---
layout: layouts/base
permalink: /404.html
eleventyExcludeFromCollections: true
---

<div class="not-found">
    <h2>HTTP 404</h2>
    <h1>Pagina niet gevonden</h1>
    <p>Sorry, deze pagina bestaat niet.</p>
    <button onclick="window.location.href = '/';">Terug naar de startpagina</button>
</div>
